hash;login;is_admin[True|False];long_name;application
hash_admin_aleatoire;admin;True;Administrateur;All
siret_1;collecteur1;False;Collecteur1;appli1
siret_2_appliA;collecteur2;False;Collecteur2;appli2
siret_2_appliB;collecteur2;False;Collecteur2;appliB
siret_2_appliC;collecteur2;False;Collecteur2;appliC
